@import "../../common.scss";

.simpleInput-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %button-input-size;

  .simpleInput-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    label {
      position: relative;
      width: 100%;
      height: 100%;
      transition: 0.5s;
      @extend %font-size-common;

      .simpleInput-content-placeholder {
        display: flex;
        position: absolute;
        top: 28%;
        right: 0;
        left: 2.7%;
        padding: 3px;
        transition: 0.4s;
        max-width: 90%;
        user-select: none;
        align-items: center;
        justify-content: center;
        cursor: text;
        overflow: hidden;

        @extend %font-span;
      }

      .simpleInput-content-input {
        @extend %input-common;
        @extend %font-size-input;
        transition: 0.5s;

        &:focus,
        &:not([value=""]) {
          outline: none;
          border-color: var(--background-color-one);

          + .simpleInput-content-placeholder {
            top: -19%;
            left: 20px;
            max-width: 70%;
            height: 20px;
            text-align: center;
            background-color: #f8f8f8;
            border: 1px dashed var(--background-color-one);
            box-shadow: 0px 0px 2px #858585;
          }
        }

        .simpleInput-content-dataList {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
