:root {
  //--color--

  --background-color-one: #17a2b8;
  --background-color-two: #17a2b8;

  --border-color-one: grey;

  //--font--

  --first-font-female: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --second-font-female: "Times New Roman", Times, serif;
  --third-font-female: "Times New Roman", Times, serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--first-font-female);
}

text {
  font-family: var(--second-font-female);
}

input {
  font-family: var(--second-font-female);
}

label {
  font-family: var(--second-font-female);
}

span {
  font-family: var(--third-font-female);
}

button {
  font-family: var(--third-font-female);
}

input[type="text"] {
  text-indent: 20px;
}

ul,
li {
  list-style-type: none;
  font-family: var(--third-font-female);
}

//^ --common-style--

%margin-padding {
  margin: 8px;
  padding: 8px;
}

%font-size-common {
  font-size: 22px;
}

//^--input-button--

%font-size-input {
  font-size: 18px;
}

%font-span {
  color: grey;
  font-size: 15px;
}

%button-input-size {
  max-width: 750px;
  width: 100%;
  height: 55px;
}

%input-common {
  outline: none;
  width: 100%;
  height: 100%;
  border: solid 1px #f2f2f2;
  border-radius: 5px;
}

%opacity {
  opacity: 0.8;
}
