@import '../../common.scss';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %button-input-size;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &:hover {
      .content-input {
        border: 1px solid var(--background-color-one);
      }
    }

    label {
      position: relative;
      width: 100%;
      height: 100%;
      transition: 0.5s;
      @extend %font-size-common;

      .content-placeholder {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: absolute;
        top: 30%;
        max-width: 94%;
        padding-right: 2.7%;
        left: 2.7%;
        transition: 0.2s;
        user-select: none;
        cursor: text;
        overflow: hidden;

        @extend %font-span;
      }

      .content-input {
        @extend %input-common;
        @extend %font-size-input;

        &:focus,
        &:not([value='']) {
          outline: none;
          border-color: var(--background-color-one);
          + .content-placeholder {
            top: -13%;
            height: 20px;
            background-color: white;
            font-size: 10pt;
            padding-left: 3px;
            padding-right: 3px;
          }
        }

        .content-dataList {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
